.header {
    &-top {
        background: $lightgray-color;
        padding: 14px 0;

        &-wrap {
            // color: #fff;
            display: flex;
            align-items: center;
            justify-content: space-between;


            .company {
                font-weight: 600;
                font-size: 16px;
            }

            .contact {
                display: flex;
                align-items: center;
                font-size: 13px;
                color: $text-dark-color;


                li:hover {
                    color: $main-color;

                    a {
                        color: $main-color;
                    }
                }

                .icon-box {
                    font-size: 14px;
                    margin-right: 6px;
                }

                .separate {
                    width: 1px;
                    height: 12px;
                    background: rgba($color: $hover-color, $alpha: 0.3);
                    margin: 0 10px;
                }

                .phonebox {
                    background: #fff;
                    border-radius: 4px;
                    padding: 2px 8px;

                    .icon-box {
                        color: rgba($color: $sub-color, $alpha: 0.6);
                        transition: 0.3s;
                    }

                    >a {
                        color: $sub-color;
                        font-weight: 600;
                    }

                    &:hover {
                        .icon-box {
                            color: #84bff9;
                        }

                        >a {
                            color: $main-color;
                        }
                    }
                }
            }

            .social {
                >li {
                    margin: 0 10px;

                    >a {
                        font-size: 16px;
                        font-weight: 600;
                        // color: #fff;

                        &:hover {
                            color: $hover-color;
                            // color: #fff;
                        }

                        i {
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }

    &-bottom {
        &-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;

            * {
                font-size: 18px;
            }

            // .logo {
            //     height: 100px;

            //     img {
            //         width: 100%;
            //         max-width: 185px;
            //         object-fit: contain;
            //         height: 100%;
            //     }
            // }

            .logo {
                height: 96px;

                img {
                    width: 230px;
                }
            }

            .search-bar {
                input {
                    width: 600px;
                    height: 48px;
                    background-color: #F9F9F9;
                    border-radius: 25px;
                    padding-left: 50px;
                    box-shadow: inset 0px 0px 5px 2px #cbcbcb7a;
                    border: none !important;
                }
            }

            .benefit {
                display: flex;

                >li {
                    // display: flex;
                    // align-items: center;

                    &:not(:last-child) {
                        margin-right: 80px;
                        // margin-right: 30px;
                        // padding-right: 30px;

                        // border-right: 1px solid #cdcdcd;
                    }
                }

                .icon {
                    // width: 46px;
                    // height: 46px;
                    // border-radius: 50%;
                    // margin-right: 10px;
                    // background: $main-color;
                    // border: 1px solid $main-color;
                    transition: 0.3s;
                    color: $main-color;

                    svg {
                        padding: 8px;
                        color: #fff;
                        fill: #fff;
                    }

                    &:hover {
                        background: #fff;

                        svg {
                            color: $main-color;
                            fill: $main-color;
                        }
                    }
                }

                .content {
                    // width: calc(100% - 46px);
                }
            }

            .headernav {
                display: none;
                align-items: center;

                .search {
                    #s {
                        padding: 0 10px;
                        height: 35px;
                        border: 1px solid $main-color;
                        outline: none;
                        width: calc(100% - 35px);
                    }

                    button[type="submit"] {
                        border: 1px solid $main-color;
                        background: $main-color;
                        color: #fff;
                        height: 35px;
                        width: 35px;
                        margin-left: -2px;
                        transition: 0.3s;

                        &:hover {
                            border-color: $hover-color;
                            background: $hover-color;
                        }
                    }
                }

                .hbg-menu {
                    display: none;
                }
            }

            .content {
                &.phone {
                    >a {
                        display: block;
                        color: #888;
                        font-size: 14px;
                        font-family: "Open Sans", sans-serif;

                        &:first-child {
                            color: #333;
                            font-size: 16px;
                        }

                        &:hover {
                            color: $sub-color;
                        }
                    }
                }
            }
        }
    }

    &-underbottom {
        background-color: $main-color;

        @media (max-width: 991.98px) {
            position: fixed;
            z-index: 130;
            top: 0;
        }

        .cus-nav-bar {
            text-transform: uppercase;

            a {
                color: #fff;
            }

            nav.multi-level {
                padding: 8px 20px;

                .submenu {
                    padding: 24px;

                    &-title {
                        color: $main-color;
                        font-weight: bold;
                    }

                    &-item-name {
                        font-size: 20px;
                    }

                    &-item-mentor {
                        font-size: 16px;
                        color: $text-color;
                    }
                }

                .has-child {
                    .dropdown-item {
                        &::after {
                            content: "\f101";
                            font-family: "Font Awesome 5 Pro";
                            font-size: 16px;
                            margin-left: 16px;
                        }
                    }
                }

                .dropdown-item {
                    font-size: 18px;
                    font-weight: bold;

                }

                &:hover {
                    .dropdown-menu {
                        box-shadow: 0px 0px 3px 3px #8888882b;
                        background-color: $lightgray-color;
                        border: 0;
                        border-radius: 0;
                        // left: -20px;
                        // top: calc(100% + 8px);

                        &.submenu {
                            background-color: #fff;
                            font-size: 18px;
                            display: none;
                            font-size: 18px;
                            text-transform: capitalize;
                            width: 500px;
                        }

                        li {
                            padding: 16px 0;
                            margin: 0;

                            &.has-child:hover>.submenu {
                                display: block !important;
                            }

                            a {
                                color: $text-color;

                                &:hover {
                                    color: $main-color;

                                    &::after {
                                        background-color: unset;
                                    }
                                }
                            }

                            .dropdown-item {
                                font-size: 18px;
                                font-weight: bold;

                                &:hover {
                                    background-color: unset;
                                }
                            }
                        }


                        display: block;
                    }
                }

            }

            ul#primary-menu {
                li.menu-item {
                    padding: 8px 20px;
                    height: 100%;
                    display: flex;
                    align-items: center;

                    &.current_page_item {
                        border: 1px solid $main-color;
                        border-bottom: 0px;
                        background-color: #fff;

                        a {
                            color: $main-color  !important;
                        }
                    }
                }
            }
        }

        .kh-dropdown-toggle::before {
            content: "\f0c9";
            font-family: "Font Awesome 5 Pro";
            font-size: 16px;
            margin-right: 5px;
        }



    }

    &-menu {
        background: $main-color;

        .main-nav {
            padding: 0;
            margin: 0;
            list-style-type: none;
            display: flex;

            >li {
                margin: 0 40px;
                position: relative;

                &:first-child {
                    margin-left: 0;
                }

                >a {
                    color: #fff;
                    display: inline-block;
                    padding: 12px;
                    font-size: 16px;
                    text-transform: uppercase;

                    &:hover {
                        color: $sub-color;
                        //background: #073157;
                    }
                }

                &.current-menu-item {
                    >a {
                        //color: $sub-color;
                    }
                }

                position: relative;

                &.menu-item-has-children {
                    ul {
                        width: 100%;
                    }


                    // &::after {
                    //     position: absolute;
                    //     content: "\f078";
                    //     font-family: "Font Awesome 5 Pro";
                    //     font-size: 18px;
                    //     margin-right: 5px;
                    //     color: #fff;
                    //     left: 65%;
                    //     top: 50%;
                    //     transform: translateY(-50%);
                    // }
                }

                .sub-menu {
                    padding: 0;
                    list-style: none;
                    text-align: center;
                    display: none;

                    a {
                        color: #fff;
                    }

                }
            }
        }
    }

    /* ============ desktop view ============ */
    @media all and (min-width: 992px) {
        .dropdown-menu li {
            position: relative;
        }

        .nav-item .submenu.dropdown-menu {
            position: absolute;
            left: 100%;
            top: -7px;
        }

        .nav-item .submenu-left {
            right: 100%;
            left: auto;
        }

    }

    /* ============ desktop view .end// ============ */

    /* ============ small devices ============ */
    @media (max-width: 991px) {
        .dropdown-menu .dropdown-menu {
            margin-left: 0.7rem;
            margin-right: 0.7rem;
            margin-bottom: .5rem;
        }
    }

    /* ============ small devices .end// ============ */
}

@media (max-width: 1199px) {
    .header {
        position: sticky;
        top: 0;
        z-index: 22;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

        &-bottom {
            background: #fff;

            &-wrap {
                .benefit {
                    .content {
                        width: calc(100% - 46px);
                    }

                    >li {
                        &:not(:last-child) {
                            margin-right: 30px;
                        }
                    }
                }

                .benefit {
                    display: none;
                }

                .headernav {
                    display: flex;

                    .search {
                        display: none;
                    }

                    .hbg-menu {
                        display: block;
                    }
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    .header {
        &-top {
            &-wrap {
                // display: none;
                // justify-content: center;

                // .company {
                //     display: none;
                // }
            }
        }

        &-bottom {
            &-wrap {
                .logo {
                    height: 80px;

                    img {
                        width: auto;
                    }
                }




            }
        }

        &-menu {
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            width: 100%;
            z-index: 11;
            transition: 0.5s;
            padding: 10px 0;

            .main-nav {
                flex-direction: column;

                >li {
                    margin: 0;

                    >a {
                        display: block;
                        text-align: center;
                    }
                }
            }

            &.active {
                visibility: visible;
                opacity: 1;
                pointer-events: all;
            }

            &:after {
                content: "";
                width: 100%;
                height: 100vh;
                position: absolute;
                bottom: -100vh;
                background-color: rgba($color: #000000, $alpha: 0.6);
            }
        }
    }
}

@media (max-width: 560px) {
    .header {
        &-top {
            &-wrap {

                flex-direction: column;

                .contact {
                    margin-bottom: 16px;
                }

            }
        }
    }
}

li#mega-menu-item-media_image-4 {
    height: 255px;
}

#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-item>a.mega-menu-link,
#mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-megamenu>ul.mega-sub-menu li.mega-menu-column>ul.mega-sub-menu>li.mega-menu-item>a.mega-menu-link {
    font-size: 14px;
}