.home {
	section {
		margin-bottom: 80px;
	}
	&_banner {
		.group {
			position: relative;
			a {
				position: absolute;
				top: 15px;
				right: 20px;
				span {
					color: $main-color;
					background-color: #fff;
					border-radius: 25px;
					padding: 5px 20px 5px 10px;
					font-weight: 700;
				}
				.circle {
					width: 45px;
					height: 45px;
					margin-left: -20px;
					background: white;
					border-radius: 50%;
					i {
						font-size: 20px;
						color: $main-color;
					}
				}
			}
		}
		.owl-carousel {
			.owl-dots {
				.owl-dot {
					width: 24px;
					height: 9px;
					background: #eeeeee;
					border-radius: 8px;
					margin: auto 4px;
					&.active {
						width: 56px;
						background: #e45600;
					}
					span {
						display: none;
					}
				}
			}
		}
		.support {
			height: 56px;
			background: linear-gradient(
				90deg,
				rgba(228, 86, 0, 1) 0%,
				rgba(251, 220, 1, 1) 100%
			);
			color: #ffffff;
			font-weight: 600;
			font-size: 16px;
			border-radius: 8px;
		}
		.wonder {
			position: relative;
			border-radius: 8px;
			overflow: hidden;
			.box {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				.title {
					font-weight: 600;
					font-size: 24px;
					color: #eeeeee;
				}
				.button {
					height: 55px;
					width: 180px;
					background: #e45600;
					border-radius: 8px;
					font-weight: 600;
					font-size: 16px;
					color: #ffffff;
					cursor: pointer;
				}
			}
		}
	}
	&_course {
		.title {
			position: relative;
		}
		.pagenavi {
			position: absolute;
			top: 0;
			right: 0;
		}
		.course {
			&_img {
				border-radius: 8px;
			}
			&_name {
				font-weight: 600;
				font-size: 24px;
				margin-top: 24px;
			}
		}
	}
}
