$main-color: #e45600;
$hover-color: #ff731c;
$sub-color: #ef9700;
$lightgray-color: #f0f0f4;
$text-color: #3c3c3c;
$text-dark-color: #001a13;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.title_with_tag {
	position: relative;
	line-height: 0px;
	&::before {
		content: "";
		position: absolute;
		height: 5px;
		width: 100px;
		background: linear-gradient(
			90deg,
			rgba(228, 86, 0, 1) 0%,
			rgba(251, 220, 1, 1) 100%
		);
	}
	&::after {
		content: url("../images/tagtitle.png");
		position: absolute;
		left: 0;
		top: 50%;
		transform: translate(0, -50%);
	}
}

@import "header";
@import "footer";
@import "home";
